.container_table {
  max-width: 1500px;
  margin: 30px auto 0;
}

@media (max-width: 1025px) {
  .container_table {
    overflow: auto;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  padding: 0 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table_header {
  background-color: #f2f2f2;
}
.table_header__item {
  font-weight: bold;
  text-align: center;
}
.table_main__item {
  text-align: center;
  height: 42px;
}
.table_main__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  height: 42px;
}
tr:hover {
  background-color: #e4fbfc67;
}

.button_delete,
.button_edit {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  margin: 0;
}
.button_delete img,
.button_edit img {
  width: 20px;
  height: 20px;
}
